<div class="container mt-4">
  <div *ngIf="foods">
    <h2>Cardápio de Alimentos</h2>
    <ul class="list-group">
      <li *ngFor="let food of foods" class="list-group-item">
        <div class="d-flex align-items-center">
          <img [src]="food.image" alt="Imagem do alimento" class="me-3" style="max-width: 100px;">
          <div>
            <h3>{{ food.title }}</h3>
            <p>Prime: {{ food.prime }}</p>
          </div>
        </div>
        <button *ngIf="food && food.id" (click)="deleteCardapioById(food.id)" class="btn btn-danger">Excluir</button>
      </li>
    </ul>
  </div>

  <h2 class="mt-4">Adicionar Novo Alimento</h2>
  <form (ngSubmit)="postCardapio()" #foodForm="ngForm" class="mb-4">
    <div class="mb-3">
      <label for="title" class="form-label">Id:</label>
      <input type="text" id="title" name="title" [(ngModel)]="food.id" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="title" class="form-label">Título:</label>
      <input type="text" id="title" name="title" [(ngModel)]="food.title" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="prime" class="form-label">Prime:</label>
      <input type="text" id="prime" name="prime" [(ngModel)]="food.prime" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">URL da Imagem:</label>
      <input type="text" id="image" name="image" [(ngModel)]="food.image" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!foodForm.valid">Adicionar</button>
  </form>
</div>
