<div *ngIf="foods">
  <h2>Cardápio de Alimentos</h2>
  <ul>
    <li *ngFor="let food of foods">
      <img [src]="food.image" alt="Imagem do alimento">
      <h3>{{ food.title }}</h3>
      <p>Prime: {{ food.prime }}</p>
      <button *ngIf="food && food.id" (click)="deleteCardapioById(food.id)">Excluir</button>
    </li>
  </ul>
</div>

<h2>Adicionar Novo Alimento</h2>
<form (ngSubmit)="postCardapio()" #foodForm="ngForm">

  <label for="title">Id:</label>
  <input type="text" id="title" name="title" [(ngModel)]="food.id" required>


  <label for="title">Título:</label>
  <input type="text" id="title" name="title" [(ngModel)]="food.title" required>

  <label for="prime">Prime:</label>
  <input type="text" id="prime" name="prime" [(ngModel)]="food.prime" required>

  <label for="image">URL da Imagem:</label>
  <input type="text" id="image" name="image" [(ngModel)]="food.image" required>

  <button type="submit" [disabled]="!foodForm.valid">Adicionar</button>
</form>
